body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding-bottom: 20px;
}

html {
  --primary-gray-gradation: conic-gradient(from 240deg at 60% 60%, #c1cdf5 0deg, #c8d2f2 60deg, #c1cdf5 120deg, #c8d2f2 280deg);
  --primary-white2: #F8F7F7;
  --primary-black: #1B1B1B;
}

#logo {
  height: 32px;
  margin-left: 20px;
  padding-top: 18px;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.navSp {
  display: none;
}

@media screen and (max-width: 767px) {
  .navSp.active {
    transform: translateY(0);
  }
}

/* @media screen and (max-width: 767px) { */
.navSp {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 70px;
  width: 100vw;
  height: 100vh;
  background: var(--primary-gray-gradation);
  display: flex;
  flex-direction: column;
  z-index: 150;
  transform: translateY(-100vh);
  transition: 1s;
}

/* } */

.navList {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  color: var(--primary-white2);
  font-family: "Bungee", sans-serif;
  font-weight: 200;
  font-style: normal;
  padding-top: 60px;
  gap: 30px;

  @media screen and (min-width: 767px) {
    font-size: 3em;
  }

}


.navItem a {
  text-shadow: 1.2px 1.2px 1px var(--primary-black);
}

.nav_wrap {
  /* display: none; */
}

/* @media screen and (max-width: 767px) { */
.nav_wrap {
  display: block;
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 300;
}

/* } */

.navBtnTxt::after {
  content: "メニュー";
  font-size: 17px;
  color: white;
  font-weight: bold;

  @media screen and (max-width: 767px) {
    content: "メニュー";
    font-size: 14px;

  }
}

.navBtnTxt.active::after {
  content: "閉じる";
  color: black;
}

.navSp.active {
  transform: translateY(0);
}

.navBtn {
  z-index: 300;
  width: 90px;
  height: 90px;
  text-align: center;
  background-color: #2a2a2a;
  border: white 2.5px solid;
  border-radius: 100vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;

  @media screen and (max-width: 767px) {
    width: 70px;
    height: 70px;
  }
}

.navBtn.active {
  background: linear-gradient(to bottom,rgb(255, 255, 255),#2a2a2a);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: colorRotation 0.4s linear forwards;

}

@keyframes colorRotation {
  0% {
    background-size: 100% 0%;
    opacity: 0;
  }
  100% {
    background-size: 100% 100%;
    opacity: 1;
  }
}
