html {
  --bg: #C1CDF5;
}

body {
  max-width: 100%;
  margin: 0;
  background-image: url("texture.jpg");
  background-color: #ffffff70;
  background-position: 10% 10%;
}

.top {
  width: 100%;
  height: 120vh;
  background-image: url("トップ.png");
  background-repeat: no-repeat;
  background-size: 100%;
  @media screen and (max-width: 1200px) {
    background-image: url("トップSP.png");
    height: auto;
    aspect-ratio: 4 /3;
  }
}

#header {
  background-color: var(--bg);
}

.name {
  font-weight: 800;
  font-size: 26px;
  margin-left: 20px;
  margin-top: 0;
  padding-top: 15px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  color: #2a2a2a;
  font-weight: 600;
  font-size: 5.2rem;
  padding-left: 60px;
  background-color: inherit;
  line-height: 0.9;
  text-align: center;
}

.head {
  font-size: 1.1em;
  color: #1785de;
}

.mLeft {
  display: inline-block;
  position: relative;
  left: 50px;
}

.portfolio {
  display: inline-block;
  border-radius: 50px;
  font-size: 0.6em;
  letter-spacing: 2px;
  margin-top: 20px;
  line-height: 1.5;
  color: white;
  width: 260px;
  position: relative;
  left: 70px;
  background-color: rgb(64, 64, 64);

  @media screen and (max-width: 767px) {
    left: 30px;
  }
}

.contents_wrapper {
  padding: 10px 60px;
}

h3 {
  margin-top: 30px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 0;
  padding-left: 40px;
  font-family: "Bungee", sans-serif;
  font-weight: 200;
  font-size: 45px;
  color: #0771d5;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  border-bottom: 3px solid #0771d5;
  @media screen and (max-width: 767px) {
    margin-top: 0;
  }
}

.mainWrapper {
}

main {
  padding-top: 0;
}

.works {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.work {
  border: 2px solid #5CA4F5;
  background-color: #1785de;
  border-radius: 20px;
  color: white;
  padding-bottom: 3px;
}

.worksText {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  font-weight: 800;
  font-size: 18px;
  padding-left: 10px;
  color: white;
}

.category {
  font-size: 20px;
  padding-left: 10px;
  color: white;
  font-weight: 600;
  font-family: "HGP創英角ﾎﾟｯﾌﾟ体";
  border-bottom: 2px solid white;
  padding-bottom: 8px;
}

.work_image {
  text-align: center;
}

.work_image img {
  width: 90%;
  height: 210px;
  border-radius: 10px;
  object-fit: 100% 100%;
}

img[src="amuse.png"] {
  opacity: 0.95;
}

.workname {
  padding-left: 10px;
  font-weight: 600;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
  ;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.myFace {
  display: inline-block;
  margin-left: 30px;

  @media screen and (max-width: 767px) {
    margin-left: 0;

  }
}

.myFace img {
  width: 210px;
  height: 280px;
  /* clip-path: ellipse(50% 40% at 50% 50%); */
  clip-path: circle();
  border-radius: 50%;
}

.whiteSpace {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-left: 20px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.whiteSpace .mLeft {
  padding-left: 120px;
}

.whiteSpaceImage {
  vertical-align: bottom;
  width: 120px;
  height: 100px;
}

#profile {
  
}

.profileFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #8bc8e8;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.profileContent {
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  line-height: 1.6;
  margin-left: 40px;
  margin-top: 10px;
  padding: 0;
  font-size: 16px;

  @media screen and (max-width: 767px) {
    margin-top: 0;
    margin-left: 0;
    width: calc(100% - 40px);
  }
}

.profileContent p:first-child {
  margin: 0;
  padding: 0;
}

.skill {
  margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-size: 17px;
}

.skill span {
  font-weight: 500;
  border-bottom: 2px solid #2a2a2a;
}