img[src="workbg.jpg"] {
  width: 100%;
  height: 300px;
  object-fit: cover;
  z-index: -1;
  /* Ensure the image is behind other content */
}

.workTitle {
  width: 100%;
  height: 300px;
  font-size: 24px;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("workbg.jpg");
  filter: brightness(0.8);
  background-size: cover;
  background-position: center;
}

.cover {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 40px 60px;
}

h2 {
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2.5rem;
  padding: 25px 0 25px 60px;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.6rem;
  }
}

h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  width: 340px;
  margin-bottom: 0;
}

h3::after {
  content: '';
  display: block;
  position: relative;
  bottom: 5px;
  left: -5px;
  width: 180px;
  height: 32px;
  background-color: black;
  clip-path: polygon(0 30%, 60% 30%, 90% 0, 100% 10%, 60% 60%, 0 60%);
}

.site-url {
  color: blue;
  font-size: 28px;
  align-self: flex-end;

  @media screen and (max-width: 768px) {
    font-size: 18px;
    align-self: flex-start;

  }
}

.work_name {
  display: flex;
  gap: 20px;
  padding-left: 60px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    font-size: 1.2rem;

  }
}

.work_img img {
  width: 85%;
  height: auto;
  border-radius: 10px;
}

.work_img {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .work_img img {
    width: 95%;
    height: auto;
    border-radius: 10px;
  }
}

p {
  margin-top: 0;
  padding-top: 0;
}

.appeal-wrapper {
  width: 83%;
  margin: 20px auto;
  border: 5px solid black;
}

.site-appeal {
  width: 85%;
  margin: 40px auto;
  border-bottom: 1px solid black;
}

.appeal-wrapper::before {
  content: '';
  display: block;
  position: relative;
  top: -10px;
  left: -10px;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  background-color: black;
  border-radius: 10px;
}

.fullSite {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.fullSite img {
  width: 70%;
  height: auto;
  border-radius: 10px;

  @media screen and (max-width: 768px) {
    width: 90%;
    height: auto;
    border-radius: 10px;
  }
}
.backButton {
  display: block;
  width: 70%;
  margin: 15px auto;
  @media screen and (max-width: 768px) {
    width: 90%;
    height: auto;
    border-radius: 10px;
  }
}

a[href="index.html"] span {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  color: white;
  background-color: blue;
   
}